.events {
    max-width: 80%;
    margin: auto; 
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.text-pr{
    font-size: 2em;
}
.text-wh{
    margin: 10px; /* Ajusta el margen para separar las imágenes */
}
.image-container, .description-container, .slider-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.slider-container, .description-container {
    height: auto;
    margin: 60px auto;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; /* Espacio entre las cards */
    margin: 0 auto;
}
.card{
    background-color: #6C8897;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    place-items: center;
    padding: 1.5rem;
    border-radius: 1rem;
}
.img{
    width: 100%;
}
.firstRow {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.title {
    font-size: 2em;
    padding-left: 1rem;
    text-align: left; /* Alinea el título a la izquierda */
    margin-bottom: 3rem;
}
#titleFirstRow {
    font-size: 1.6em;
    padding-bottom: 1em; /* Espacio entre el título y el texto */
    text-align: left; /* Alinea el título a la izquierda */
    margin: 0;
}
#textFirstRow{
    font-size: 1rem;
    margin: 0;  
}
#check-list {
    list-style-type: none; /* Elimina los estilos predeterminados de la lista */
    
}
.check-img{
    padding-right: 0.4rem;
}
.text-wh{
    padding: 0;
    margin: 0;
}
#check-list li {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.text-pr{
    margin: 0;
}
#text-slider{
    margin-top: 1rem;
    font-size: 1.5em;
}
.button-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.button-events{
    height: 3.5rem;
    width: 11rem;
    background-color: #E76F51;
    border-color: #E76F51;
    border-radius: 0.5rem;
    box-shadow: none;
}
#button-text{
    font-size: 1.2em;
}