.events {
    max-width: 80%;
    margin: auto; 
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.text-pr{
    font-size: 2em;
}
.text-wh{
    margin: 10px; /* Ajusta el margen para separar las imágenes */
}
.image-container, .description-container, .slider-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.slider-container, .description-container {
    height: auto;
    margin: 50px auto;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em; /* Espacio entre las cards */
    margin: 0 auto;
}
.card{
    background-color: #6C8897;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    place-items: center;
    padding: 1.5em;
    border-radius: 1em;
}
.img{
    width: 100%;
}
.firstRow {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.title {
    font-size: 2em;
    padding-left: 1em;
    text-align: left; /* Alinea el título a la izquierda */
    margin-bottom: 50px;
}
#titleFirstRow {
    font-size: 1.6em;
    padding-bottom: 1em; /* Espacio entre el título y el texto */
    text-align: left; /* Alinea el título a la izquierda */
    margin: 0;
}
#textFirstRow{
    font-size: 1em;
    margin: 0;  
}
#check-list {
    list-style-type: none; /* Elimina los estilos predeterminados de la lista */
    
}
.check-img{
    padding-right: 0.4em;
}
.text-wh{
    padding: 0;
    margin: 0;
}
#check-list li {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.text-pr{
    margin: 0;
}
#text-slider{
    margin-top: 50px;
    font-size: 1.5em;
}
.button-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#reserv{
    height: 3.5em;
    width: 11em;

}
#button-text{
    font-size: 1.2em;
}