.tittles{
    color: #234C63;
}

.container{
    display: grid;
    align-items: center;
    padding: 5%;
}

.container-cards{
    display: flex;
    justify-content: space-between; /* Distribuye las tarjetas uniformemente */
}

.card {
    width: 300px; /* Ancho de la tarjeta */
    background-color: #6C8897;
    border: 1px solid #ddd; /* Borde de la tarjeta */
    border-radius: 8px; /* Borde redondeado */
    margin: 20px; /* Margen entre las tarjetas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
    overflow: hidden; /* Evita que el contenido sobresalga */
}
.card-tittle{
    justify-content: center;
    color: #F1F1F1;
    padding: 20px; /* Espaciado interno */

}
.card-content {
    color: #F1F1F1;
    padding: 20px; /* Espaciado interno */
    
}