.tittles{
    color: #234C63;
    font-size: 2em;
    margin-top: 0% ;
}

.container{
    display: grid;
    align-items: center;
    max-width: 82%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye las tarjetas uniformemente */
}

.card {
    width: 20.7rem; /* Ancho de la tarjeta */
    height: 38.3rem;
    background-color: #6C8897;
    border: 1px solid #ddd; /* Borde de la tarjeta */
    border-radius: 0.5rem; /* Borde redondeado */
    margin: 0.6rem; /* Margen entre las tarjetas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
    overflow: hidden; /* Evita que el contenido sobresalga */
}
.card-tittle{
    justify-content: center;
    color: #F1F1F1;
    margin-top: 0%;

}
.card-text{
    text-align:start;
    font-size: 1em;
    margin-left: 1.3rem;
    margin-right: 1rem;
}

.card-content {
    color: #F1F1F1;
    text-align: center;
}
.card-img{
    width: 19.5rem; /* Fija el ancho de la imagen */
    height: 15.7rem; /* Fija la altura de la imagen */
    object-fit: contain; /* Ajusta la imagen para que cubra el área establecida */
    border-radius: 0.6rem; /* Esquinas redondeadas */
/* Margen alrededor de la imagen */
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}
.container-button{
    display: flex;
    justify-content: center;
    margin-top: 0.6rem;
}
.buttons{
    color: #F1F1F1;
    font-size: 1.2em;
    text-align: center;
    transition-duration: 0.4s;
    width: 9rem;
    height: 3.7rem;
    border-color: #E76F51;
    border: solid;
    cursor: pointer;
    background-color: #E76F51;
    border-radius: 10px 10px;
}